<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

<head>

<!--
    ===========
    GLOBAL META
    ===========
-->

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<!--
    ==================
    PAGE-SPECIFIC META
    ==================
-->

    <title>Credit market trends: charts</title>
    <meta name="description" content="Generated d3 charts to show credit market trends.">

<!--
    ======
    STYLES
    ======
    The number of stylesheets here must be kept to a minimum.
    Unless adding a significant amount of CSS that is specific to a single page
    or section of the site, all new styles should be added to src/static/css/app.less.
-->

<!--[if lt IE 9]>      <link rel="stylesheet" href="/static/css/main.ie.min.css"> <![endif]-->
<!--[if gt IE 8]><!--> <link rel="stylesheet" href="/static/css/main.min.css"> <!--<![endif]-->

<!--
    ============
    HEAD SCRIPTS
    ============
    The following scripts must be included in the head. DO NOT ADD ANY MORE.
    All other scripts should go before the closing body tag.
    If you come across a script that makes a convincing case to be included in
    the head, then file an issue or PR to discuss including it.
-->

<!--[if lt IE 9]>
    <script src="/static/vendor/html5shiv/html5shiv-printshiv.min.js"></script>
<![endif]-->

    <script>
        // Confirm availability of JS and remove no-js class from html
        var docElement = document.documentElement;
        docElement.className = docElement.className.replace(/(^|\s)no-js(\s|$)/, '$1$2');
    </script>

</head>

<body>

<!--
    =================
    Begin page source
    =================
-->

<header class="wrapper wrapper__match-content" role="banner">
    <div class="block block__sub">
        <h1>Credit market trends: charts</h1>
    </div>
</header>

<main class="content" id="main" role="main">
    <div class="content_bar"></div>
    <div class="content_wrapper">
        <div class="content_main">

          <h2>Auto Loans - Geographic Changes</h2>

          <div id="auto-loan_geo-changes" class="chart">
          </div>

          <h2>Auto Loans - Origination</h2>

          <h3>Year Over Year Changes - Number of Loans</h3>

          <div id="auto-loan_yoy-number" class="chart">
          </div>

          <h3>Year Over Year Changes - Dollar Volume</h3>

          <div id="auto-loan_yoy-volume" class="chart">
          </div>

          <h2>Auto Loans - Borrower Risk Profiles</h2>

          <h3>Year Over Year Changes - Deep Subprime</h3>

          <div id="auto-loan_yoy-deep-subprime" class="chart">
          </div>

          <h3>Year Over Year Changes - Subprime</h3>

          <div id="auto-loan_yoy-subprime" class="chart">
          </div>

          <h3>Year Over Year Changes - Near Prime</h3>

          <div id="auto-loan_yoy-near-prime" class="chart">
          </div>

          <h3>Year Over Year Changes - Prime</h3>

          <div id="auto-loan_yoy-prime" class="chart">
          </div>

          <h3>Year Over Year Changes - Superprime</h3>

          <div id="auto-loan_yoy-superprime" class="chart">
          </div>

          <h2>Auto Loans - Neighborhood Income</h2>

          <h3>Year Over Year Changes - Low</h3>

          <div id="auto-loan_yoy-low" class="chart">
          </div>

          <h3>Year Over Year Changes - Moderate</h3>

          <div id="auto-loan_yoy-moderate" class="chart">
          </div>

          <h3>Year Over Year Changes - Middle</h3>

          <div id="auto-loan_yoy-middle" class="chart">
          </div>

          <h3>Year Over Year Changes - High</h3>

          <div id="auto-loan_yoy-high" class="chart">
          </div>


          <h2>Auto Loans - Age</h2>

          <h3>Year Over Year Changes - Younger than 30</h3>

          <div id="auto-loan_yoy-younger-than-30" class="chart">
          </div>

          <h3>Year Over Year Changes - 30 to 44</h3>

          <div id="auto-loan_yoy-30-to-44" class="chart">
          </div>

          <h3>Year Over Year Changes - 45 to 64</h3>

          <div id="auto-loan_yoy-45-to-64" class="chart">
          </div>

          <h3>Year Over Year Changes - 65 or Older</h3>

          <div id="auto-loan_yoy-65-and-older" class="chart">
          </div>

        </div><!-- END .content_main -->
    </div>
</main>

<footer role="contentinfo">
    <!-- Footer stuff -->
</footer>

<!--
    ============
    BODY SCRIPTS
    ============
    The number of scripts here must be kept to a minimum.
    Unless adding a significant amount of JS that is specific to a single page
    or section of the site, all custom JS should be added to src/static/js/app.js.
-->

<script src="/static/js/main.min.js"></script>

</body>
