<link rel="stylesheet" href="../static/css/main.min.css">

{{> chart }}


<div class="chart_wrapper"
    id="{{ figureID }}"
    data-chart-type="line" 
    data-source="https://raw.githubusercontent.com/cfpb/credit-market-trends/master/data/vol_data_AUT.csv" 
    data-title="{{ title }}" 
    data-market="auto-loans"
    data-report-type="origination-activity"
>
    <h5>{{ figureID }}</h5>
    <h3>{{ title }}</h3>
    
</div>



<script src="../static/js/main.min.js"></script>
