<div class="chart_wrapper"
    id="{{ figureID }}"
    data-chart-type="line" 
    data-source="https://raw.githubusercontent.com/cfpb/credit-market-trends/master/data/vol_data_AUT.csv" 
    data-title="{{ title }}" 
    data-market="auto-loans"
    data-report-type="origination-activity"
>
    <h4>{{ figureID }}</h4>
    <h3>{{ title }}</h3>
    <svg>

    </svg>
    
</div>
